main div[id*="-section"] {overflow: hidden;}
/*main div[id*="-section"]:not(#welcome-section,#about-section) {padding: 0 0 clamp(30px, 12vw, 60px);}*/
.rounded-top {border-radius: 0 15% 0 0 / 0 clamp(0%, 12vw, 25%) 0 0 !important; box-shadow: 0 -10px 20px 0 rgb(0 0 0 / 10%); overflow: hidden;}
.rounded-bottom {border-radius: 0 0 15% 0 / 0 0 clamp(0%, 12vw, 25%) 0 !important; box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%); overflow: hidden;}
.top-gradient {background: linear-gradient(62deg, rgb(36, 94, 138) 0.00%, rgb(26, 48, 87) 29.99%, rgb(29, 37, 101) 70.01%, rgb(63 39 139) 100.00%); /*background-size: 180% 180%;*/ z-index: -1; /*animation: grgradient-animationadient 5s ease infinite;*/}

@keyframes gradient-animation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.section-heading {overflow: hidden;}
.section-heading h2 {font-size: clamp(40px, 14vw, 80px); line-height: 1.025; color: var(--hover);}
.heading-line {width: 100%; height: 50px; box-shadow: inset 0 -20px 10px 0 rgb(0 0 0 / 10%); border-bottom: solid 1px #0c0c0c; z-index: 1;}

.bg {width: 100%; height: 100%;}
.bg-image {background: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png); background-attachment: fixed; filter: brightness(0%) opacity(0.75); z-index: -1;}

.social {left: 15px; z-index: 2;}
.social > div:not(:last-child) {margin-bottom: 5px;}
.social a {background-color: var(--white); width: 40px; height: 40px; border-radius: 50%; overflow: hidden; transition: background-color 0.2s ease-in;}
.social a:hover {background-color: transparent;}
.social a::after {content: ''; background-color: transparent; position: absolute; left: 50%; top: 50%; width: 0px; height: 0px; border-radius: 50%; transform: translate(-50%, -50%); transition: background-color 0.3s ease-in, width 0.3s ease-in, height 0.3s ease-in; z-index: -1;}
.social a:hover::after {background-color: var(--hover); width: 105%; height: 105%;}
.social svg {fill: var(--hover); transition: fill 0.2s ease-in;}
.social a:hover svg {fill: var(--white);}

.scroll {right: -45px; bottom: 80px; z-index: 2; width: 135px; text-align: right; text-decoration: none; font-size: 14px; letter-spacing: 2px; line-height: 1; color: inherit; transform: rotate(90deg); opacity: 1; transition: opacity 0.3s ease-in;}
a.scroll {cursor: pointer;}

.page {left: 15px; bottom: 45px;}
.page .number::after {content: "0" attr(data-id); font-size: clamp(70px, 10vw, 150px); font-weight: 800; line-height: 1; text-decoration: underline; opacity: 0.1;}

.tags {left: 15px; font-family: "La Belle Aurore", cursive; font-weight: 400; font-style: normal; opacity: 0.6; color: var(--nav-not-scrolled-active);}
.top-tags {top: 86px;}
.bottom-tags {bottom: 10px;}

.hide {visibility: hidden; opacity: 0;}

/* Media Queries */

@media screen and (max-width: 991px) {
    main > div[id*="-section"] [class*="container"] {max-width: initial; height: 100%;}
}