.work-heading h2 {line-height: 0.75;}
.work-container {background: linear-gradient(135deg,  rgba(63,39,139,1) 0%,rgba(29,37,101,0.1) 30%,rgba(26,48,87,0.1) 71%,rgba(36,94,138,0.5) 100%); box-shadow: -40px 20px 20px 0 rgb(0 0 0 / 10%);}
.work-wrapper {height: 100%;}
ul.react-multi-carousel-track {gap: 15px; margin: auto;}

/* Modal */
.modal {opacity: 0; transition: opacity 0.3s ease-in-out;}
.modal-dialog {top: 50%; left: 50%; margin: 0; transform: translate(-50%, -50%) !important;  z-index: 1051;}
.modal-header {justify-content: space-between;}

.fade-in {opacity: 1;}
.fade-out {opacity: 0;}

/* Media Queries */

@media screen and (min-width: 1680px) {
    .work-container {border-radius: 15% 0 0 0 / clamp(0%, 12vw, 25%) 0 0 0 !important;}
}