main div[id*="-section"] {overflow: hidden;}
.rounded-top {border-radius: 0 15% 0 0 / 0 clamp(0%, 12vw, 25%) 0 0 !important; box-shadow: 0 -10px 20px 0 rgb(0 0 0 / 10%); overflow: hidden;}
.rounded-bottom {border-radius: 0 0 15% 0 / 0 0 clamp(0%, 12vw, 25%) 0 !important; box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%); overflow: hidden;}
.top-gradient {background: linear-gradient(62deg, rgb(36, 94, 138) 0.00%, rgb(26, 48, 87) 29.99%, rgb(29, 37, 101) 70.01%, rgb(63 39 139) 100.00%); /*background-size: 180% 180%;*/ z-index: -1; /*animation: grgradient-animationadient 5s ease infinite;*/}

@keyframes gradient-animation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.section-heading {overflow: hidden;}
.section-heading h2 {font-size: clamp(40px, 8vw, 80px); line-height: 0.85; color: var(--hover);}
.heading-line {width: 100%; height: 50px; box-shadow: inset 0 -20px 10px 0 rgb(0 0 0 / 10%); border-bottom: solid 1px #0c0c0c; z-index: 1;}

.bg {width: 100%; height: 100%;}
.bg-image {background: url(https://www.transparenttextures.com/patterns/inspiration-geometry.png); background-attachment: fixed; filter: brightness(0%) opacity(0.75); z-index: -1;}

.social {left: 15px; z-index: 2;}
.social > div:not(:last-child) {margin-bottom: 5px;}
.social a {background-color: var(--white); width: 40px; height: 40px; border-radius: 50%; overflow: hidden; transition: background-color 0.2s ease-in;}
.social a:hover {background-color: transparent;}
.social a::after {content: ''; background-color: transparent; position: absolute; left: 50%; top: 50%; width: 0px; height: 0px; border-radius: 50%; transform: translate(-50%, -50%); transition: background-color 0.3s ease-in, width 0.3s ease-in, height 0.3s ease-in; z-index: -1;}
.social a:hover::after {background-color: var(--hover); width: 105%; height: 105%;}
.social svg {fill: var(--hover); transition: fill 0.2s ease-in;}
.social a:hover svg {fill: var(--white);}

.scroll {right: -80px; bottom: 95px; z-index: 2; width: 165px; text-align: right; font-size: 14px; letter-spacing: 3px; transform: rotate(90deg); opacity: 1; transition: opacity 0.3s ease-in;}
.scroll a {text-decoration: none; color: inherit; transition: opacity 0.3s ease-in; cursor: pointer; }
.scroll a.fade-out {z-index: -1;}

.page {left: 15px; bottom: 35px;}
.page .number::after {content: "0" attr(data-id); font-size: clamp(40px, 10vw, 150px); font-weight: 800; line-height: 1; text-decoration: underline; opacity: 0.1;}

.tags {left: 15px; font-family: "La Belle Aurore", cursive; font-weight: 400; font-style: normal; opacity: 0.6; color: var(--nav-not-scrolled-active);}
.bottom-tags {bottom: 10px;}

.dots-container {height: initial;}
.dots-container .dot-wrapper:not(:last-child) {margin-bottom: 15px;}
a.dot {position: relative; width: clamp(20px, 2vw, 30px); height: clamp(20px, 2vw, 30px); text-decoration: none; cursor: pointer;}
a.dot::before {content: ''; position: absolute; left: 50%; top: 50%; width: 10px; height: 10px; transform: translate(-50%, -50%); box-shadow: inset 0 0 0 10px var(--white); border-radius: 50%; transition: box-shadow 0.3s ease-in;}
a.dot.active::before {box-shadow: inset 0 0 0 10px transparent, 0 0 10px clamp(3px, 2vw, 5px) var(--hover);}

.tooltip {top: 50%; right: clamp(20px, 2vw, 30px); transform: translateY(-50%); animation-iteration-count: 1; animation-timing-function: ease-in;}

.hide {visibility: hidden; opacity: 0;}

/* Media Queries */

@media screen and (max-width: 991px) {
    main > div[id*="-section"] [class*="container"] {max-width: initial; height: 100%;}

    .tooltip {animation-name: fadeInOpacityTablet; animation-duration: 1.5s;}
}

@media screen and (min-width: 992px) {
    .tooltip {animation-name: fadeInOpacityDesktop; animation-duration: 0.5s; opacity: 1;}    
}

@media only screen and (max-width: 1279px) and (orientation: portrait) {
    main div[id*="-section"] {height: 100vh !important;}
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
    main div[id*="-section"] {height: initial !important;}
    div[class*="-container"] {padding-top: 45px; padding-bottom: 45px;}
}

@keyframes fadeInOpacityDesktop {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacityTablet {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}    
}