:root {
    --c-progress-bar-size: 140px;
    --c-progress-bar-stroke-width: 6
}

.skills-container {background: linear-gradient(135deg, rgb(36 94 138 / 50%) 0%, rgb(26 48 87 / 0%) 29.99%, rgb(29 37 101 / 10%) 70.01%, rgb(63 39 139) 100.00%); box-shadow: -40px 20px 20px 0 rgb(0 0 0 / 10%);}
.skills-container::after {content: ''; position: absolute; background: linear-gradient(to right,  rgba(255,255,255,0) 30%,rgba(94,82,177,1) 75%,rgba(94,82,177,0) 100%);
    right: 0; bottom: 0; width: 50%; height: 2px;}

.c-progress-bar {width: var(--c-progress-bar-size);}
.progress-pie_shape {width: 100%; position: relative;}
.progress-pie_shape svg {display: block; width: var(--c-progress-bar-size); height: var(--c-progress-bar-size); stroke-width: var(--c-progress-bar-stroke-width);}
.progress-pie_bg {stroke: currentColor; opacity: .125;}
.progress-pie_fill {stroke: currentColor;}
.progress-pie_value {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
.progress-pie_value i {font-size: .65em;}
.c-progress-bar .progress-pie_fill, .c-progress-bar .progress-pie_value {visibility: hidden;}

.skill h5 {font-size: clamp(14px, 4vw, 20px);}
.skill svg {max-height: clamp(100px, 10vw, 140px);}

/* Media Queries */

@media screen and (max-width: 1679px) {
    .skills-container::before {content: ''; position: absolute; background: linear-gradient(to right,  rgba(50,112,179,0) 0%,rgba(50,112,179,1) 25%,rgba(255,255,255,0) 70%); left: 0; top: 0; width: 50%; height: 2px;}
}
@media screen and (max-width: 767px) {
    .skills-container {flex-direction: column; justify-content: space-between;}
}
@media screen and (min-width: 768px) {
    .skills-container p {line-height: 1.8;}
}
@media screen and (min-width: 1680px) {
    .skills-container {border-radius: 15% 0 15% 0 / clamp(0%, 12vw, 25%) 0 clamp(0%, 15vw, 25%) 0 !important; border-style: solid; border-width: 0 2px 0 2px; border-color: transparent rgba(94, 82, 177, 0.5) transparent rgb(50 112 179);}
    .skills-container::after {background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(201, 197, 229, 0) 0%, rgba(94, 82, 177, 0.35) 50%, rgba(255, 255, 255, 0) 75%);}
}