#footer {background-color: #1c2227;}

/* Media Queries */

@media screen and (max-width: 768px) {
    #footer .container {max-width: initial;}
}
@media screen and (min-width: 768px) {
    .footer-social {justify-content: end;}
}